#title {
  text-align: center;
  color: white;
}

#video {
  float: left;
}

.content {
  float: left;
  width: 50%;
  color: white;
  font-size: 100%;
}

.content2 {
  float: left;
  color: white;
  font-size: 100%;
}
